<div class="show" fxLayout="row" *ngIf="movie">
  <div class="show__left" fxFlex="40%">
    <img class="show__img" [src]="'https://image.tmdb.org/t/p/w500/'+movie.backdrop_path" [alt]="movie.title">

    <h2 class="show__title">
      {{ movie.title }}
    </h2>

    <ul class="show__list">
      <li class="show__item">
        <mat-icon class="show__item-icon">group</mat-icon>
        <span class="show__item-text">
          Popularity: {{ movie.popularity }}
        </span>
      </li>
      <li class="show__item">
        <mat-icon class="show__item-icon">event</mat-icon>
        <span class="show__item-text">Release Date: {{ movie.release_date }}</span>
      </li>
      <li class="show__item">
        <mat-icon class="show__item-icon">poll</mat-icon>
        <span class="show__item-text">Vote Average: {{ movie.vote_average }}</span>
      </li>
      <li class="show__item">
        <mat-icon class="show__item-icon">campaign</mat-icon>
        <span class="show__item-text">Vote Count: {{ movie.vote_count }}</span>
      </li>
    </ul>
  </div>
  <div class="show__right">
    <mat-card class="show__card">
      <h2>Overview:</h2>

      <mat-card-content>
        <p>
          {{movie.overview}}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
