<mat-card fxLayout="row no-wrap" fxLayoutAlign="start start" class="movie" color="primary">
  <img [routerLink]="['/', 'show', '1']" fxFlex="25%"  class="movie__img" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">

  <mat-card-content class="movie__content" fxFlex fxLayout="column" fxLayoutAlign="start start">
    <div class="movie__top">
      <mat-card-title  >
        <a [routerLink]="['/', 'show', '1']">Shiba Inu</a>
        </mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </div>
    
    <button mat-flat-button class="movie__fav" color="warn">
      <mat-icon >favorite_border</mat-icon>
      Add To Favorite
    </button>
  </mat-card-content>

</mat-card>